.SearchBarContainer {
    display: flex;
    position: absolute;
    margin-top: 2%;
    justify-content: center;
    width: 100%;
}

.SearchBar {
    /*width: 100%;*/
    /* min-width: 300px; */
    display: flex;
    max-width: 95%;
    background-color: white;
    border-radius: 1em;
    z-index: 401;
    padding: 10px;
    box-shadow: 10px 5px 5px grey;
}

.SearchBarInput {
    text-align: center;
    font-size: 1em;
    border: 0px;
    width: 100%;
}
.SearchBarInput:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}

#glassSvg {
    width: 20px;
    height: 20px;
}

#glassSvg:hover {
    cursor: pointer;
}